[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/wmgraphviz"]
	path = bundle/wmgraphviz
	url = https://github.com/wannesm/wmgraphviz.vim.git
[submodule "bundle/gnupg"]
	path = bundle/gnupg
	url = https://git.gitorious.org/vim-gnupg/vim-gnupg.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala
